.content {
    margin: 64px 112px;

    @media screen and (max-width: 850px) {
        margin: 64px 16px 32px;
    }

    &__profile {
        padding: 0 32px;

        &-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        
        &-pic {
            margin-bottom: 24px;
            width: 88px;
            height: 88px;
            border-radius: 50%;
        }

        &-name {
            font-weight: 700;
            font-size: 20px;
        }

        .slack {
            display: none;
        }

        &-share-icon {
            position: absolute;
            top: -25px;
            right: 240px;
            cursor: pointer;

            @media screen and (max-width: 850px) {
                display: none;
            }
        }

        &-mobile-icon {
            display: none;

            @media screen and (max-width: 850px) {
                display: block;
                position: absolute;
                top: -25px;
                right: 0;
            }
        }
    }

    .profile-links {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 56px 0 24px 0;

        @media screen and (max-width: 850px) {
            margin-top: 32px;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 24px;
    }
}